.template-form{
    text-align: left;
    position: relative;
    height: 100%;
    padding-bottom: 100px;
    overflow: auto;
}

.label-textarea{
    position: relative;
    top: 10%;
}

.config-area{
    position: relative;
    padding-left: 1%;
}

textarea{
    width: 500px;
    height: 300px;
}

.Select{
    width: 500px;
}

.button-templates-submit{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

