.container > .name-input{
    width: 20%;
    padding-top: 3%;
    display:block;

}
.container > .name-input-error{
    width: 20%;
    padding-top: 3%;
    display:block;
    border-bottom: 2px solid red;

}
.container > .model-input{
    width: 20%;
    padding-top: 3%;
    display:block;

}
.container > .model-input-error{
    border-bottom: 2px solid red;

}

.serial-input-error{
    width: 40%;
    padding-top: 3%;
    display:block;
    border-bottom: 2px solid red;
}

.serial-input{
    padding-top: 1%;
}
.container > .Select{

    width: 20%;
}
.table-user{
    width: max-content;
    position: relative;
    height: content-box;
    top: 5%;
    padding-bottom: 10%;
    text-align: left;

}
.button-import-submit{
    position: relative;
    left: 5%;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

.button-add-submit{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}