.container > .name-input{
    width: 20%;
    padding-top: 3%;
    display:block;

}
.devicename-input{
    width: 20%;
    padding-top: 3%;
    display:block;

}
.container > .model-input{
    width: 20%;
    display:block;

}

.serial-input{
    padding-top: 1%;
    width: 20%;

}
.model-input{
    width: 20%;

}
.asterisk {
    content:"*";
    color:red;
}
div.serial-input label.control-label:after {
    content: " *";
    color: red;
}
div.model-input label.control-label:after {
    content: " *";
    color: red;
}
.container > .Select{

    width: 20%;
}
.table-user{
    width: max-content;
    position: relative;
    height: content-box;
    top: 5%;
    padding-bottom: 10%;
    text-align: left;

}
.button-import-submit{
    position: relative;
    left: 5%;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

.button-add-submit{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}