.container{
    width: 100%;
    margin: 0 0 0 0;
    height: 100%;
    padding-bottom: 100px;
    position: relative;
    overflow: auto;
}
.form{
    height: fit-content;
    display:inline-block;
}
.name-input{
     width: 20%;
     display:inline-block;
 }
.name-input-error{
    width: 20%;
    display:inline-block;
    border-bottom: 2px solid red;
}
.email-input{
    position: relative;
    padding-top: 3%;
    width: 20%;
    left: 1.3%;
    display:inline-block;
}
.email-input-error{
    position: relative;
    padding-top: 3%;
    width: 20%;
    left: 1.3%;
    display:inline-block;
    border-bottom: 2px solid red;
}
.role-input{
    width: max-content;
    position: relative;
    bottom: 80px;

}
.pass-input{
    width: 20%;
    padding-bottom: 3.3%;
}

.pass-input-error{
    width: 20%;
    border-bottom: 2px solid red;

}
.pass-verify-input-error{
    position: relative;
    width: 20%;
    bottom: 75px;
    left: 21.3%;
    border-bottom: 2px solid red;

}
.button-submit{
    position: relative;
    width: fit-content;
    bottom: 40px;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
    margin-right:auto;
}

.table-user{
    width: max-content;
    position: relative;
    height: content-box;
    padding-bottom: 10%;
    text-align: left;
}
.form-createuse{
    width: max-content;
    position: relative;
    height: content-box;
    padding-bottom: 10%;
    text-align: center;
}