.assignment-template-input{
    padding-top: 3%;
    width: 20%;
}

.assignment-group-input{
    width: 20%;
}

.button-assign-submit{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
    margin-top: 1%;

}

.table-assign{
    width: fit-content;
    position: relative;
    height: content-box;
    top: 5%;
    padding-bottom: 30%;
    text-align: left;
}

.label-template{
    padding-top: 3%;
}

.label-group{
    padding-top: 1%;
}