.assignment-template-input{
    width: 20%;
    padding-top: 0.0000001px;
}

.assignment-group-input{
    width: 20%;
}
.assignment-template-input-error{
    padding-top: 3%;
    width: 20%;
    border-bottom: 2px solid red;
}

.assignment-group-input-error{
    width: 20%;
    border-bottom: 2px solid red;
}
.button-assign-submit{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
    margin-top: 1%;

}

.table-assign{
    width: fit-content;
    position: relative;
    height: content-box;
    top: 5%;
    padding-bottom: 30%;
    text-align: left;
}

.label-template{
    padding-top: 3%;
}

.label-group{
    padding-top: 1%;
}
.asterisk {
    content:"*";
    color:red;
}