.name-input{
    width: 20%;
    padding-top: 3%;
}
.form-field-name-error{
    border-bottom: 2px solid red;
}
.param-template-input{
    padding-top: 3%;
    width: 20%;
    background-color: #f0ad4e;
    border-color: #eea236;

}

.value-input{
    width: 20%;
    padding-top: 1%;
}


.range-start-input{
    width: 20%;
    padding-top: 1%;
}
.range-end-input{
    width: 20%;
    padding-top: 1%;
    position: relative;
    left: 22%;
    bottom: 84px;
}
.range-div{
    height: 15%;
}
.container > .Select{
    width: 20%;
}
.table-user{
    width: max-content;
    position: relative;
    height: content-box;
    top: 5%;
    padding-bottom: 10%;
    text-align: left;

}

.button-param-submit{
    position: relative;
    display: block;
    margin-bottom: 15px;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

.symbol {
    font-size: 0.9em;
    font-family: Times New Roman;
    border-radius: 1em;
    padding: .1em .6em .1em .6em;
    font-weight: bolder;
    color: white;
    background-color: #4E5A56;
}

.icon-102{ background-color: #3229CF; }
.icon-400 { background: #e64943; font-family: Consolas; }
.icon-200 { background: #13c823; }

.icon-102:before { content: 'i'; }
.icon-400:before { content: 'x'; }
.icon-200:before { content: '\002713'; }

.notify {
    background-color:#e3f7fc;
    color:#555;
    border:.1em solid;
    border-color: #8ed9f6;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1.1em;
    padding:10px 10px 10px 10px;
    margin:10px;
    cursor: default;
}

.n400 { background: #ffecec; border-color: #fad9d7; }
.n200 { background: #e9ffd9; border-color: #D1FAB6; }
.n { background: #e9ffd9; border-color: #D1FAB6; display: none; }