.name-input{
    width: 20%;
    padding-top: 3%;
}
.form-field-name-error{
    border-bottom: 2px solid red;
}
.param-template-input{
    padding-top: 3%;
    width: 20%;
    background-color: #f0ad4e;
    border-color: #eea236;

}

.value-input{
    width: 20%;
    padding-top: 1%;
}


.range-start-input{
    width: 20%;
    padding-top: 1%;
}
.range-end-input{
    width: 20%;
    padding-top: 1%;
    position: relative;
    left: 22%;
    bottom: 84px;
}
.range-div{
    height: 15%;
}
.container > .Select{
    width: 20%;
}
.table-user{
    width: max-content;
    position: relative;
    height: content-box;
    top: 5%;
    padding-bottom: 10%;
    text-align: left;

}

.button-param-submit{
    position: relative;
    display: block;
    margin-bottom: 15px;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}
