.container > .name-input{
    width: 20%;
    padding-top: 3%;
    display:block;

}

.serial-input{
    width: 20%;
    padding-top: 1%;
}

.container > .Select{

    width: 20%;
}
.table-user{
    width: max-content;
    position: relative;
    height: content-box;
    top: 5%;
    padding-bottom: 10%;
    text-align: left;

}

.button-import-submit{
    position: relative;
    left: 5%;
}