.container{
    width: 100%;
    margin: 0 0 0 0;
    height: 100%;
    padding-bottom: 100px;
    position: relative;
    overflow: auto;
}
.form{
    height: fit-content;

}
.name-input{
    width: 20%;

}

div.name-input label.control-label:after {
    content: " *";
    color: red;
}

.encrypt-input{
    position: relative;
    width: 20%;
    right: 0.0%;

}
.organization-input{
    width: 20%;
}

.country-input{
    width: 20%;
}
.org_unit-input{
    width: 20%;
}
.state-input{
    width: 20%;
}
.locale-input{
    width: 20%;
}


div.encrypt-input label.control-label:after {
    content: " *";
    color: red;
}
.name-input-error{
    width: 20%;

    border-bottom: 2px solid red;
}
.password-input{
    position: relative;
    width: 20%;

}
div.password-input label.control-label:after {
    content: " *";
    color: red;
}

.server-input{
    width: 20%;
}
div.server-input label.control-label:after {
    content: " *";
    color: red;
}
.digest-input{
    position: relative;
    width: 20%;
}
div.digest-input label.control-label:after {
    content: " *";
    color: red;

}
.pass-input-error{
    width: 20%;
    border-bottom: 2px solid red;

}
.pass-verify-input-error{
    position: relative;
    width: 20%;
    border-bottom: 2px solid red;

}

.scep-button-submit{
    width: fit-content;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: white;
}

.symbol {
    font-size: 0.9em;
    font-family: Times New Roman;
    border-radius: 1em;
    padding: .1em .6em .1em .6em;
    font-weight: bolder;
    color: white;
    background-color: #4E5A56;
}

.icon-102{ background-color: #3229CF; }
.icon-400 { background: #e64943; font-family: Consolas; }
.icon-200 { background: #13c823; }

.icon-102:before { content: 'i'; }
.icon-400:before { content: 'x'; }
.icon-200:before { content: '\002713'; }

.notify {
    background-color:#e3f7fc;
    color:#555;
    border:.1em solid;
    border-color: #8ed9f6;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1.1em;
    padding:10px 10px 10px 10px;
    margin:10px;
    cursor: default;
}

.n400 { background: #ffecec; border-color: #fad9d7; }
.n200 { background: #e9ffd9; border-color: #D1FAB6; }
.n { background: #e9ffd9; border-color: #D1FAB6; display: none; }